/* background.css */
@font-face {
  font-family: 'Yarndings12-Regular';
  src: url('./assets/fonts/Yarndings12-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Jersey10-Regular';
  src: url('./assets/fonts/Jersey10-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Silkscreen-Bold';
  src: url('./assets/fonts/Silkscreen-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Silkscreen-Regular';
  src: url('./assets/fonts/Silkscreen-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Doto-Regular';
  src: url('./assets/fonts/Doto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Doto-Medium';
  src: url('./assets/fonts/Doto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Doto-Bold';
  src: url('./assets/fonts/Doto-Bold.ttf') format('truetype');
}
.canvas-background {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: -1;            /* behind all UI */
  pointer-events: none;   /* clicks pass through */
}
